.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: grey;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #649140;
  color: white;
}
