.video-react-control-text{
  font-size: 1rem;
}

.video-react-video{
    font-size: 1rem;
}

.video-react-duration-display {
    font-size: 1rem;
}

.video-react-current-time-display{
    font-size: 1rem;
}

span{
    font-size: 1rem;
}

iframe{
    width: 750px;
    height: 500px;
}
